@font-face {
  font-family: "Unbounded";
  src: local("../assets/fonts/Unbounded-Light.ttf"),
    url("../assets/fonts/Unbounded-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded-rg";
  src: local("../assets/fonts/Unbounded-Regular.ttf"),
    url("../assets/fonts/Unbounded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded-bd";
  src: local("../assets/fonts/Unbounded-Bold.ttf"),
    url("../assets/fonts/Unbounded-Bold.ttf") format("truetype");
}
